body{
	margin: 0;
	padding: 0;
}

form{
	font-size: 16px;
	background: linear-gradient(white, lightgray, lightgray);
	max-width: 550px;
	margin: 10px auto;
	padding: 0 10px 10px 10px;
	border: 1px solid;
	border-radius: 10px;
}

footer{
	text-align: center;
	max-width: 550px;
	margin: 0 auto;
	padding: 0 10px 10px 10px;
}

h1{
	color: #333;
	text-align: center;
}

.name input, .price input, .payment, .interest , .months_text, .name_text, .price_text, .url {
	width: 524px;
	padding: 10px;
}

.payment, .interest, .months_text, .price_text, .name_text, .url {
	display: none;
}

.simulate {
	text-align: center;
}

.simulate input {
	background-color: #069;
	height: 40px;
	width: 200px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid;
	color: #FFF;
	cursor: pointer;
}

.simulate input:hover{
	background: #078;
}

textarea {
   resize: none;
}